<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader('로그인 페이지')}"></th:block>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        
        <main class="mt-2">
                <form method="post" th:action="@{/member/signin}">
                    <div class="mt-2 text-danger" th:if="${param.error}"> <!-- todo -->
                        아이디와 비번을 확인하세요.
                    </div>
            <div class="mt-2">
                <input type="text" class="form-control" name="username"
                placeholder="사용자 아이디" required autofocus />
            </div>
            <div class="mt-2">
                <input type="password" class="form-control" name="password"
                    placeholder="비밀번호" required />
            </div>
            <div class="mt-2">
                <input type="submit" class="form-control btn btn-success"
                    value="로그인">
            </div>
        </form>
            

            <div class="mt-2">
                <a th:href="@{/member/signup}" 
                    class="form-control btn btn-primary">회원 가입</a>
            </div>
        </main>
	</body>
</html>