<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('포스트 상세보기 페이지')}"></th:block>
        
<main class="my-2">
        <div class="my-2 card">
            <div class="card-header"></div>
            <div class="card-body" th:object="${post}">
                <form>
                    <div class="my-2">
                        <label for="id" class="form-label">No.</label>
                        <input type="text" class="form-control" id="id"
                            th:value="*{id}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title"
                            th:value="*{title}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" style="height: 120px;" 
                            th:text="*{content}" readonly></textarea>
                    </div>
                    <div class="my-2">
                        <label for="author" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="author"
                            th:value="*{author}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="created" class="form-label">작성시간</label>
                        <input type="text" class="form-control" id="created"
                            th:value="*{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm:ss')}" 
                            readonly />
                    </div>
                    <div class="my-2">
                        <label for="modified" class="form-label">최종수정시간</label>
                        <input type="text" class="form-control" id="modified"
                            th:value="*{#temporals.format(modifiedTime, 'yyyy-MM-dd HH:mm:ss')}" 
                            readonly />
                    </div>
                    </form>
                    
                    <div class="my-2" >
                    <a class="btn btn-success form-control"
                        th:href="@{/post/modify(id=*{id})}">수정하기</a>
                </div>
                </div>
            </div>
        </main>
		
	</body>
</html>