<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{/layout/fragments :: pageHeader('포스트 목록 페이지')}"></th:block>
        
        <main class="mt-2">
            <div class="card">
                <div class="card-header">
                    <form method="get" th:action="@{/post/search}">
                        <div class="row">
                            <div class="col-3">
                                <select name="category" class="form-control">
                                    <option value="t">제목</option>
                                    <option value="c">내용</option>
                                    <option value="tc">제목 + 내용</option>
                                    <option value="a">작성자</option>
                                </select>
                            </div>
                            <div class="col-7">
                                <input type="text" class="form-control" name="keyword" required />
                            </div>
                            <div class="col-2">
                                <input type="submit" class="form-control btn btn-outline-secondary"
                                    value="검색" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <table class="mt-2 table table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>수정시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="post : ${page}" th:object="${post}">
                                <td th:text="*{id}"></td>
                                <td>
                                    <!-- query string request parameter 방식 요청 주소 -->
                                    <a th:href="@{/post/details(id=*{id})}" th:text="*{title}"></a>
                                </td>
                                <td th:text="*{author}"></td>
                                <td th:text="*{#temporals.format(modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <th:block th:replace="~{/layout/fragments :: pagination}"></th:block>
                </div>
            </div>
        </main>
        
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    </body>
</html>